body {
  background-color: #151515;
  font-family: "Roboto", sans-serif;
  padding: 2rem 1rem;
  max-width: 400px;
  margin: 0 auto;
}
main {
  max-height: 600px;
  overflow-x: scroll;
}
.header__person {
  color: #fff;
  display: flex;
  gap: 1.2rem;
  margin-bottom: 1.5rem;
}
.header__person p {
  margin-top: 10px;
  margin-bottom: 0;
}
.searchInput {
  width: 285px;
  background: url("../images/catalog/loupe.svg") no-repeat #252525 15px;
  height: 35px;
  border-radius: 10px;
  padding-left: 40px;
  border-color: transparent;
  color: #fff;
  margin-bottom: 50px;
}

.product {
  color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 148px;
  gap: 10px;
  margin-bottom: 15px;
  position: relative;
}
.catalogueContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  color: white;
}
.product a img {
  border-radius: 15px;
  margin-bottom: 5px;
  min-width: 147px;
  max-width: 148px;
}
.product p {
  margin: 0;
}
.product p:first-of-type {
  font-size: 14px;
}
.product p:last-of-type,
b,
span {
  font-size: 12px;
}
.product button {
  position: absolute;
  background-color: #252525;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 0;
  transform: translateX(110px);
  margin-top: 10px;
  background-image: url("../images/general/heartBlack.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.product p:nth-child(4) {
  color: #7e7e7e;
  font-weight: 100;
}
.numericalData {
  display: flex;
  justify-content: space-between;
}
.product span {
  color: #7e7e7e;
  font-weight: 100;
}
.product img:last-of-type {
  margin: 0;
}

.rating {
  display: flex;
  gap: 5px;
  justify-content: center;
}
